<web-app>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>controller.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
